<!DOCTYPE html>
<html>
<head>
  <title>BeerdedHappiness</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<% if current_user %>
			Hey there, <%= current_user.name %>
			<%= button_to "Logout", logout_path %>
		<% end %> 
	</header>
	<div class="page-wrapper">
		<%= yield %>
	</div>
</body>
</html>
