<!DOCTYPE html>
<html>
<head>
  <title>BeerdedHappiness</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="page-wrapper">
		<%= yield %>
	</div>

	<footer>
		<% if current_user %>
			<div class="greeting">
				Hey <%= current_user.name %>, 
				<% if current_user.games_to_go %>
					You have <%= current_user.games_to_go %> games til your turn!
				<% end %>
			</div>
			<div class="logout-wrapper">
				<%= button_to "Logout", logout_path, {:id => "btn-logout"} %>
			</div>
		<% end %> 
	</footer>
</body>
</html>
