<h1>Log In</h1>
<div class="error">
  <p><%=flash[:error]%></p>
</div>
  <p><%=flash[:login_message]%></p>

<%= form_for @session, url: login_path do |f| %>
  <%= f.text_field :name, placeholder: 'Name' %><br>
  <%= f.password_field :password, placeholder: "Password" %><br>
  <%= f.submit "Log In" %>
<% end %>

<h1>Sign Up</h1>
<div class="error">
  <% if flash[:signin_error] %>
    <% flash[:signin_error].each do |msg| %>
    <p><%= msg %></p>
    <%end%>
  <%end%>

</div>
<%= form_for @user do |f| %>
<%= f.text_field :name, placeholder: "Name" %><br>
<%= f.text_field :email, placeholder: "Email" %><br>
<%= f.text_field :phone_number, placeholder: "Phone" %><br>
<%= f.password_field :password, placeholder: "Password" %><br>
<%= f.password_field :password_confirmation, placeholder: "Confirm Password" %><br>
<%= f.submit "Sign Up" %>
<% end  %>
