<h2>Create New Event</h2>
<%= form_for @event do |f| %>
  <%= select("event", "status", %w[Active Inactive Past], {prompt: 'Select Status'}) %>
  <br>
  <%= f.text_field :title, placeholder: "Title" %><br>
  <%= f.text_field :creator_id, placeholder: "Creator_ID" %><br>
  <!-- change to hidden field once sign in is working = f.hidden_field :creator,  %> -->
  <%= f.submit "Create Event", :disable_with => 'Creating...'%>
<% end %>
