<section class="top-left-box">
  <header role="banner">
    <h1>Beerded Happiness</h1>
  </header>

	<div class="queue-bar">
		<% if @current_players %>
			<div class="current-game">
				<p>Currently on the Table:</p>
				<%= @current_players.first.name %>
			
				VS
				<%= @current_players.second.name %>
			
		<% end %>
		</div>

		<%= button_to "Join Queue", event_games_path(@event), {:class => "btn"} %>

		<h3>Up Next:</h3>

		<div class="game-in-queue">
			<% @games.each do |game| %>

					<% game.users.each do |user| %>
							<div class="user-in-queue">
								<%= user.name %><br>
							</div>
					<% end %>

			<% end %>
		</div>

	</div>

	
</section>

<aside class="left-bottom-box">
	<div class="event-details">
		<h3><%= @event.title %></h3>
		<p>Hosted By: <%= @event.creator.name %></p>
	</div>

	<!-- <div class="leaderboard">
	  <h3>Leaderboard</h3>

	  % @winners.each do |stats| %>
	  	% stats.each_pair do |winner, wins | %>
	  		%= winner %>:
	  		%= wins %><br>
	  	% end %>
	  % end %>

	</div> -->
</aside>
